*.swp
resources/helm/secret-files/*
.terraform
bin/helm
bin/kubectl
bin/minikube
/.idea/.gitignore
/resources/config/config.iml
/jenkins-as-code2.iml
/.idea/misc.xml
/.idea/modules.xml
/resources/resources.iml
/.idea/vcs.xml
