<settings>
    <interactiveMode>false</interactiveMode>
    <localRepository>/home/jenkins/.m2/repository</localRepository>
    <servers>
        <server>
            <id>internal.repo</id>
            <username>admin</username>
            <password>admin123</password>
            <filePermissions>664</filePermissions>
            <directoryPermissions>775</directoryPermissions>
        </server>
        <server>
            <id>internal.snapshot.repo</id>
            <username>admin</username>
            <password>admin123</password>
            <filePermissions>664</filePermissions>
            <directoryPermissions>775</directoryPermissions>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>internal</id>

            <properties>
                <altDeploymentRepository>internal.snapshot.repo::default::http://nexus-service:8081/repository/Olezhik-snapshots</altDeploymentRepository>
                <altReleaseDeploymentRepository>internal.repo::default::http://nexus-service:8081/repository/Olezhik-releases</altReleaseDeploymentRepository>
            </properties>

            <!-- Configuration of the repository used from within the company -->
            <repositories>
                <repository>
                    <id>internal.repo</id>
                    <name>Internal Repository</name>
                    <url>http://nexus-service:8081/repository/Olezhik-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>internal.repo.old</id>
                    <name>Old Internal Repository</name>
                    <url>http://localhost:8081/repository/Olezhik-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>internal.snapshot.repo</id>
                    <name>Internal Snapshot Repository</name>
                    <url>http://nexus-service:8081/repository/Olezhik-snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>internal</activeProfile>
    </activeProfiles>

</settings>